/* You can add global styles to this file, and also import other style files */
body 
	background-color: #2b2c3e
	font-family: 'Raleway', sans-serif
button
	background-color: #426782
	color: #fff
	padding: 1.2em
	width: 300px
	text-align: center
	font-size: 1.2em
	margin-bottom: 30px
	cursor: pointer
.section_header
	background-color: #949ebb
	display: flex
	justify-content: center
	align-items: center
.section_header__content
	font-family: 'Inconsolata', sans-serif
	color: #fff
	font-weight: bold
	max-width: 1200px
	margin: 20px 0
	font-size: 1.7em
	width: 100%
